* {
    height: auto;
    width: auto;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #d9dcd6;
    height: auto;
    text-size-adjust: auto;
    background-image: url(../coderefactor/DigitalMarketingMeeting.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c7a;
    color: #ffffff;
    width: 100%;
    height: auto;
    position: sticky;
    top: 10%;
    }

header h1 {
    display: inline-block;
    font-size: 150px;
    padding: 2% 0% 2% 6%;
}

header h1 .seo {
    color: #d9dcd6;
}

nav {
    display: inline-block;
    width: 100%;
    padding-left: 4%;
    justify-content: space-evenly;
    padding-top: 12%;
    margin-bottom: 10em;
    padding-bottom: 25%;
}

main {
    position: relative;
    top: 250px;
}

.button {
    background-color: #2a607c;
    border: .2em solid #ffffff;
    padding: 2%;
    display: inline-block;
    margin: 0% 0% 4% 5%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    padding: 1% 2% 1% 2%;
    width: 25%;
    height: 100px;
    display: block;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #2a607c7a;
    color: #ffffff;
    border-color: #2a607c
}
        
.content dt {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}
.content dd {
    font-size: 18px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    padding-left: 4%;
    padding-top: 4%;
}

.content dl {
    margin-bottom: 20%;
    border: 3px solid #0072bb;
    border-radius: 10em 0em;
    padding: 50px;
    background-color: #0072bb;
    color: #ffffff;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    box-shadow: -20px 11px 6px 0px #0a1b2557;
}


.content img {
    max-height: 200px;
    border: .3em solid #0a1b25;
    border-radius: 10em;
}

.benefits {
    margin-top: 6%;
    margin-right: 2%;
    padding: 4% 1%;
    clear: both;
    float: right;
    width: 20%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    border: 3px solid #2589bd;
    border-radius: 3em;
}

.benefits dl {
    text-align: center;
    padding: 15% 3%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.benefits dt {
    font-size: 24px;
}
.benefits dd {
    font-size: 16px;
    line-height: 1.5;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer small {
    margin-top: 20%;
    font-size: 20px;
}
